{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel",
    "promise"
  ],
  "env": {
    "node" : true,
    "mocha": true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "key-spacing"          : "off",
    "brace-style"          : [2, "stroustrup", {"allowSingleLine": true}],
    "semi"                 : [2, "always"],
    "quotes"               : "off",
    "no-return-await"      : 2,
    "jsx-quotes"           : [2, "prefer-double"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : "off",
    "space-before-function-paren": "off",
    "comma-dangle"         : "off"
  }
}
